// Options from settings.h can be enabled here
// See https://github.com/keebs34/zmk-config-selenium/blob/main/include/selenium/settings.h
#define KB_LAYOUT_ERGOL
#define MACOS
#define HT_HOME_ROW_MODS
#define HRM_SHIFT
#define PINKY_MOD_HOLD
#define SHORT_TAPPING_TERM 250

#define SELENIUM_KEYMAP_BINDINGS(LOUT1,  LROW1,  RROW1,  ROUT1, \
                                 LOUT2,  LROW2,  RROW2,  ROUT2, \
                                 LOUT3,  LROW3,  RROW3,  ROUT3, \
                                 LT1, LT2, LT3,  RT3, RT2, RT1) \
    &kp ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp N5  &kp UP_ARROW &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BACKSPACE \
    LOUT1   LROW1                               &kp DOWN_ARROW                           RROW1  ROUT1         \
    LOUT2   LROW2                               &kp LEFT_ARROW                           RROW2  ROUT2         \
    LOUT3   LROW3                               &kp RIGHT_ARROW                           RROW3  ROUT3         \
    &kp RIGHT  &none LT1  LT2  LT3              &none                      RT3  RT2  RT1  &none &kp UP

#include <selenium/selenium.keymap>
